body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.unsplash.com/photo-1560264280-88b68371db39?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG9mZmljZSUyMGJ1aWxkaW5nfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.todo-box {
  width: 450px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.todo-box h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  background-color: #f4f4f4;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #333;
}

li button {
  background-color: #e74c3c;
  margin-left: 10px;
}

li button:hover {
  background-color: #c0392b;
}